<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[백패커/아이디어스]프론트엔드 개발 과제</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/style1.css">
    <!--[if lt IE 9]>
        <script src="../../static/js/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
    <main>
        <section>
            <h1>과제 1. 카드 UI </h1>
            <div class="card_wrap clearfix">
                <div class="card_wrap_col">
                    <div class="card">
                        <div class="inner">
                            <div class="card_imgcover">
                                <div class="imgcover">
                                    <img src="http://blogfiles.naver.net/MjAxNzA4MThfMjk1/MDAxNTAzMDY2ODE4NzE4._M2qUSSdLiSyNpG2HoypkRxIXP3Xa_8rFxyS2_jCAM4g.mskUsc79vGxDE593oTVULolPwfCXLwyZBg_xeAwuo-og.JPEG.pkmikg76/image_8113937781492049117778.jpg">
                                </div>
                            </div>
                            <div class="card_info">
                                <p>Card Label</p>
                                <h2>Card Title</h2>
                                <span class="hilight">Hilight</span> <del>Cross Out</del>
                            </div>
                            <div class="card_rating">
                                <div class="rating_icon">
                                    <i class="fas fa-circle active"></i>
                                    <i class="fas fa-circle active"></i>
                                    <i class="fas fa-circle active"></i>
                                    <i class="fas fa-circle active"></i>
                                    <i class="fas fa-circle"></i>
                                </div>
                                <div class="rating_cmt ellipsis_one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima molestias itaque commodi dolores in temporibus expedita! Molestiae assumenda quibusdam soluta aut, quis, nobis molestias cumque accusantium praesentium voluptas atque aliquam.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card_wrap_row">
                    <div class="card">
                        <div class="row_wrap clearfix">
                            <div class="left">
                                <div class="card_imgcover">
                                    <div class="imgcover">
                                        <img src="http://blogfiles.naver.net/MjAxNzA4MThfMjk1/MDAxNTAzMDY2ODE4NzE4._M2qUSSdLiSyNpG2HoypkRxIXP3Xa_8rFxyS2_jCAM4g.mskUsc79vGxDE593oTVULolPwfCXLwyZBg_xeAwuo-og.JPEG.pkmikg76/image_8113937781492049117778.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="inner">
                                    <div class="inner_v">
                                    <h2 class="ellipsis_one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto molestiae quam nam perferendis nulla vitae saepe quisquam neque. Aliquam culpa ullam nobis excepturi itaque deleniti amet qui explicabo repellendus saepe!</h2>
                                    <p class="cmt ellipsis_thr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, voluptatem deserunt. Neque recusandae, repudiandae iusto nostrum dignissimos quia laboriosam dicta, ea blanditiis dolor illo error molestias earum quas, pariatur laborum.</p>
                                    <div class="card_rating">
                                        <div class="rating_icon">
                                            <i class="fas fa-circle active"></i>
                                            <i class="fas fa-circle active"></i>
                                            <i class="fas fa-circle active"></i>
                                            <i class="fas fa-circle"></i>
                                            <i class="fas fa-circle"></i>
                                        </div>
                                        <span>| User ID</span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>