/*과제2*/
form {
    margin: 10px 0;
}
input {
    color: #4f4f4f;
}
::placeholder {
    color: #4f4f4f;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #4f4f4f;
}
::-ms-input-placeholder {
    color: #4f4f4f;
}
button {
    background-color: #dd5850;
    color: #fff;
}
button:disabled {
    background-color: #A9A9A9;
    color: #555;
}
textarea {
    resize: none;
    outline-style: none;
    display: block;
    width: 100%;
    height: 81px;
    padding:15px;
    background-color: #fff;
    font-size: 12px;
    color: #575757;
    border: 3px solid #A9A9A9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    overflow: auto;
}
textarea:disabled {
    background-color: #dddddd;
}
textarea:focus {
    border: 3px solid #dd5850;
}
.f_module {
    position: relative;
}
.f_module_wrap .f_txt {
    float: left;
    width: 90%;
    position: relative;
}
.f_module_wrap .f_txt.f_full {
    width: 100%;
}
.f_module_wrap .f_txt .f_count {
    position: absolute;
    width: 23px;
    right: 3px;
    bottom: 10px;
    border: 0;
    background-color: transparent; 
}
.f_module_wrap button {
    float: left;
    width: 10%;
    height: 81px;
    line-height: 81px;
    padding: 0;
    border: 0;
}


